INSERT INTO `breeze_boot_17`.`sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES (1578702340654268412, 1111111111111111111, 1578702340666851329, '${entityClassNameComment}', '${entityClassName}', 1, '${entityClassName}', '/${entityClassLowerName}', '/${module}/${entityClassLowerName}/index', '${module}:${entityClassLowerName}:list', 0, 0, 0, 10, 'admin', 'admin',  now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `breeze_boot_17`.`sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES (1589181822230048781, 1111111111111111111, 1578702340654268412, '添加', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:create', 0, 0, 0, 1, 'admin', 'admin', now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `breeze_boot_17`.`sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES (1589181822230048782, 1111111111111111111, 1578702340654268412, '修改', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:modify', 0, 0, 0, 2, 'admin', 'admin', now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `breeze_boot_17`.`sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES (1589181822230048783, 1111111111111111111, 1578702340654268412, '详情', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:info', 0, 0, 0, 3, 'admin', 'admin', now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `breeze_boot_17`.`sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES (1762353511967580162, 1111111111111111111, 1578702340654268412, '删除', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:delete', 0, 0, 0, 1, 'admin', 'admin', now(), 'admin', 'admin', now(), 0, NULL, 1);
