<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.ai.mapper.AiChatKnowledgeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.ai.model.entity.AiChatKnowledge" id="aiChatDocMap">
        <result property="id" column="id"/>
        <result property="docId" column="doc_id"/>
        <result property="docName" column="doc_name"/>
        <result property="docUrl" column="doc_url"/>
        <result property="refDocId" column="ref_doc_id"/>
    </resultMap>

</mapper>
